@import"zw_nav.scss";
@import"zw_banner.scss";
#gundam_model{
    margin-top:70px ;
    h3{
        font-weight: 900;
        text-align: center;
    }
    .row{
        position: relative;
        padding:25px;
        .col-md-2{
            padding: 0;
            transform: skewX(-10deg) scale(1, 1);
            border-radius: 3px;
            overflow: hidden;
            border: 2px solid white;
            transition: 0.5s;
            img{
                opacity: 0.8;
                width: 100%;
            }
            &:hover{
                cursor: pointer;
                z-index: 5;
                transform: skewX(-10deg) scale(1.2, 1.2);
            }
            &:hover img{
                opacity: 1;
            }
        }
    }
}
@media(max-width:768px){
    #gundam_model{
        .row{
            .col-md-2{
                transform:scale(1, 1);
                img{
                    width: 100%;
                }
                &:hover{
                    transform:scale(1.2, 1.2);
                }
            }
        }
    }
}
