body{
    margin: 0;
    background-color: rgb(92, 142, 161);
    height: 100vh;
    font-family: "Comic Sans MS";
    .timer{
        display: flex;
        flex-direction: column;
        .timer_controls{
            display: flex;
            form{
                flex: 1;
                display: flex;
                input{
                    flex: 1;
                    border: 0;
                    padding: 5px;
                }
            }
            .timer_button{
                flex: 1;
                background: none;
                border: 0;
                cursor: pointer;
                color: white;
                font-size: 20px;
                text-transform: uppercase;
                background:rgba(0,0,0,0.1);
                border-bottom:3px solid rgba(0,0,0,0.2);
                border-right:1px solid rgba(0,0,0,0.2);
                padding: 15px;
                &:hover,&:focus{
                    background:rgba(0,0,0,0.2);
                    outline:0;
                }
            }
        }
        .display{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .display_end-time {
                font-size: 4rem;
                color:white;
            }
            .display_time-left {
                font-weight: 100;
                font-size: 20rem;
                margin: 0;
                color:white;
                text-shadow:4px 4px 0 rgba(0,0,0,0.05);
            }
        }
    }
}