@import"zw_nav.scss";
@import"zw_banner.scss";
@import"zw_gundam_s1.scss";
@import"zw_model_tool.scss";
@mixin w1200 {
    @media(max-width:1200px){
        @content;
    }
}
html{
    scroll-behavior: smooth;
}
#zw_about{
    h5{
        font-weight: 900;
        color: rgb(172, 175, 12);
        padding-left: 20px;
    }
    h3{
        font-weight: 900;
        margin-bottom: 20px;
    }
    .row{
        width: 100%;
        margin: 0;
        .col-6{
            img{
                width: 100%;
            }
        }
    }
}
#info{
    h3{
        font-weight: 900;
    }
    .row{
        margin-top:30px ;
        width: 100%;
        margin: 0;
        .col-md-3{
            width: 100%;
            margin-bottom: 20px;
            #big_logo{
                background-color: #467080;
                border-radius: 50%;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
            #info_time{
                font-family: DFKai-sb;
                text-align: center;
                
            }
        }
        .col-md-8{
            width: 100%;
            background-color: #7e7d80;
            padding: 10px 10px 0 10px;
            #map{
                width: 100%;
                iframe{
                    width: 100%;
                    height: 300px;
                    @include w1200{
                        height: 250px;
                    }
                }
            }
        }
    }
}



#go_top{
    position: fixed;
    z-index: 5;
    bottom: 60px;
    right: 10px;
    width: 50px;
    height: 50px;
    a{
        img{
            width: 100%;
        }
    }
}

footer{
    position: relative;
    height: 60px;
    background-color: #9C9EA1;
    p{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}